body {
    margin: 20px;
    background: black url("https://wallpaperaccess.com/full/1608.jpg") no-repeat fixed center center;
    background-size: cover;
}

.main_div {
    max-width: 1600px;
    margin: 0 auto;
}